.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px lightgray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  align-items: center;
  width: 500px;
}

.image {
  border-radius: 1px;
  width: 400px;
  margin: 20px;
}

h1 {
  margin: 0;
}

ol {
  width: 400px;
}

ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}

ol ol {
  padding-left: 1em;
}

li {
  text-indent: -1.3em;
  padding-left: 1.3em;
}

li:before {
  counter-increment: item;
  content: counter(item) ".";
  padding-right: 0.5em;
  font-weight: bold;
  color: #b40000;
}
